

# Базовый URL для JSONPlaceholder API
NEXT_PUBLIC_JSONPLACEHOLDER_BASE_URL=

# Окружение (development, test, production)
NODE_ENV=development

# Токен для Vercel Blob Storage (для загрузки файлов)
BLOB_READ_WRITE_TOKEN=
